# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables (Secrets)
.env

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
